<!DOCTYPE html>
{% load bootstrap3 staticfiles compressed %}
<html lang="en-US">
<head>
    <title>Moneta — {% block bootstrap3_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="moneta"/>
    
    {% block pipelineheaders %}{% compressed_css 'base' %}{% compressed_js 'base' %}{% endblock %}
    {% block extraheaders %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
<!--[if lt IE 9 ]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    
</head>
<body>
{% block bootstrap3_nav %}
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'moneta.core.views.index' %}">Moneta</a>
        </div>
      </div>
    </div>
    {% bootstrap_messages %}
{% endblock %}
{% block bootstrap3_content %}
{% endblock %}
      {% block bootstrap3_footer %}<hr><footer>
      <p>&copy; 2014 Matthieu Gallet</p>
      </footer>{% endblock %}
    </div> <!-- /container -->

</body>
</html>