{% extends "core/base_package.html" %}{% load staticfiles i18n moneta %}

{% block extrahead %}

{% endblock %}

{% block repo_content %}
    <h2>{% trans 'Available pip indexes' %}</h2>
    {% with view=repo|moneta_url:'simple' %}

        <ul class="nav nav-tabs">
            <li class="active"><a href="#all-packages" data-toggle="tab">{% trans 'All packages' %}</a></li>
            {% for state in states %}
                <li><a href="#{{ state.slug }}" data-toggle="tab">{{ state.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="all-packages">
                {% trans 'Modifiy your $HOME/.pip/pip.conf file:' %}
<pre>[global]
extra-index-url = {{ absolute_url }}{% url view rid=repo.id repo_slug=repo.slug %}{% if use_https %}
        cert = {% trans '/Path/to/your/ROOT/CA.pem' %}{% endif %}</pre>
                {% trans 'Modifiy your $HOME/.pydistutils.cfg file:' %}
<pre>[easy_install]
find_links = {{ absolute_url }}{% url view rid=repo.id repo_slug=repo.slug %}</pre>
    {% if admin %}{% trans 'In order to add a new package, please run the following command:' %}
        <pre>FILENAME=filename-version(.tar.gz|.tar.bz2|.tar.xz|.whl|.zip|.egg)
curl --data-binary @$FILENAME -u : --anyauth {{ absolute_url }}{% url 'moneta.core.views.add_element_post' rid=repo.id %}\?filename=$FILENAME{% for state in states %}\&amp;states={{ state }}{% endfor %}</pre>{% endif %}
            </div>
            {% for state in states %}
                <div class="tab-pane" id="{{ state.slug }}">
                    {% trans 'Modifiy your $HOME/.pip/pip.conf file:' %}
<pre>[global]
extra-index-url = {{ absolute_url }}{% url view rid=repo.id repo_slug=repo.slug state_slug=state.slug %}{% if use_https %}
        cert = {% trans '/Path/to/your/ROOT/CA.pem' %}{% endif %}</pre>
                    {% trans 'Modifiy your $HOME/.pydistutils.cfg file:' %}
<pre>[easy_install]
find_links = {{ absolute_url }}{% url view rid=repo.id repo_slug=repo.slug state_slug=state.slug %}</pre>
    {% if admin %}{% trans 'In order to add a new package, please run the following command:' %}
        <pre>FILENAME=filename-version(.tar.gz|.tar.bz2|.tar.xz|.whl|.zip|.egg)
curl --data-binary @$FILENAME -u : --anyauth {{ absolute_url }}{% url 'moneta.core.views.add_element_post' rid=repo.id %}\?filename=$FILENAME\&amp;states={{ state }}</pre>{% endif %}
                </div>
            {% endfor %}
        </div>

    {% endwith %}

    {% include 'core/add_signature.html' %}
{% endblock %}
