{% extends "moneta/base_package.html" %}{% load staticfiles i18n moneta %}
{% block bootstrap3_title %}{% blocktrans %}Repository {{ repo }}/{{ state }}{% endblocktrans %}{% endblock %}
{% block other_repo_urls %}
    {% with view=repo|moneta_url:'browse' %}<a class="btn btn-sm btn-default"
                       href="{% url view rid=repo.id repo_slug=repo.slug %}">{% trans 'Show packages' %}</a>
    {% endwith %}
{% endblock %}

{% block repo_content %}
    <h1><a href="{{ repo.get_absolute_url }}">{% blocktrans %}Repository {{ repo }}/{{ state }}{% endblocktrans %}</a></h1>
    <ol class="breadcrumb">
    {% for bread_crumb in bread_crumbs %}
        <li {% if forloop.last %}class="active"{% endif %}><a href="{{ bread_crumb.1 }}">{{ bread_crumb.0 }}</a></li>
    {% endfor %}
    </ol>
    <p>{% blocktrans %}Available packages in <strong>{{ repo }}/{{ request_path }}</strong>: {% endblocktrans %}
        <span class="badge">{{ element_count }}</span></p>
    <ul class="list-unstyled">
        {% for path in paths %}
            <li><a href="{{ path.1 }}">{{ path.0 }}</a></li>
            {% empty %}
            <li>{% trans 'No available package' %}</li>
        {% endfor %}
    </ul>
{% endblock %}

