{% extends "moneta/base_package.html" %}{% load staticfiles i18n moneta %}

{% block other_repo_urls %}
    {% with view=repo|moneta_url:'browse' %}<a class="btn btn-sm btn-default"
                       href="{% url view rid=repo.id repo_slug=repo.slug %}">{% trans 'Show packages' %}</a>
    {% endwith %}
{% endblock %}
{% block repo_content %}
                <h2>{% trans 'Maven settings' %}</h2>
        <ul class="nav nav-tabs">
            {% for state_info in state_infos %}
            <li {% if forloop.first %}class="active"{% endif %}><a href="#state_{{ state_info.0 }}" data-toggle="tab">{{ state_info.2 }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for state_info in state_infos %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="state_{{ state_info.0 }}">
                <p>{% trans 'Add the following repositories to your $HOME/.m2/settings.xml in the repository section:' %}</p>
                    <pre>{{ state_info.1 }}</pre>
                {% if admin_allowed %}
                    <h3>{% trans 'Add a package' %}</h3>
                    <p>{% trans 'In order to add a new Java archive, please run the following command:' %}</p>
            <p>{% trans 'You can also add packages by specifying archive (groupId.artifactId, name of the package) and version:' %}</p>
                <pre>FILENAME=filename-version.XXX
ARCHIVE=$groupId.$artifactId
VERSION=$version
{% curl %} --data-binary @$FILENAME {{ absolute_url }}{% url 'moneta.views.add_element_post' rid=repo.id %}\?filename=$FILENAME\&archive=$ARCHIVE\&version=$VERSION{% for state in state_info.3 %}\&amp;states={{ state }}{% endfor %}</pre>{% endif %}
                </div>
            {% endfor %}
        </div>
    {% include 'moneta/add_signature.html' %}
{% endblock %}
