{% extends "moneta/base_package.html" %}{% load staticfiles i18n %}

{% block repo_content %}
                <h2>{% trans 'Maven settings' %}</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#all-packages" data-toggle="tab">{% trans 'All packages' %}</a></li>
            {% for state in states %}
                <li><a href="#{{ state.slug }}" data-toggle="tab">{{ state.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for setting in maven_settings_xml %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ setting.0 }}">
                <p>{% trans 'Add the following repositories to your $HOME/.m2/settings.xml in the repository section:' %}</p>
                    <pre>{{ setting.1 }}</pre>
                </div>
            {% endfor %}
        </div>
                {% if admin %}<p>{% trans 'In order to add a new Java archive, please run the following command:' %}</p>
                <pre>FILENAME=filename-version.jar
{% curl %} --data-binary @$FILENAME {{ absolute_url }}{% url 'moneta.core.views.add_element_post' rid=repo.id %}\?filename=$FILENAME{% for state in states %}\&amp;states={{ state }}{% endfor %}</pre>
            <p>{% trans 'You can also add generic packages by specifying archive (groupId), name (artifactId, name of the package) and version:' %}</p>
                <pre>FILENAME=filename-version.XXX
ARCHIVE=groupId
NAME=artifactId
VERSION=version
{% curl %} --data-binary @$FILENAME {{ absolute_url }}{% url 'moneta.core.views.add_element_post' rid=repo.id %}\?filename=$FILENAME\&name=$NAME\&archive=$ARCHIVE\&version=$VERSION{% for state in states %}\&amp;states={{ state }}{% endfor %}</pre>{% endif %}
    {% include 'moneta/add_signature.html' %}
{% endblock %}
